<div class="row-fluid gap-below">
  <div class="span3"><%= image_tag("silhouette.jpg") %></div>
  <div class="span6 hook">
    <p>Discover Your Possibilities</p>
    <p><small>Connect with an alumnus who can help</small></p>
    <br />
    <p>
      <small>
        <a href="#scary">
          Why?
        </a>
      </small>
    </p>
  </div>
</div>

<br />

  <div id="scary" class="center hero-unit gap-below">
    <h2>
      <a href="#action">
        Post-graduation plans can be scary
      </a>
    </h2>
  </div>


<h3 id="action">Alumni do lots of different things</h3>

<br />

<div class="row-fluid">
  <%- 4.times do %>
    <div class="span3">
      <table>
      <tr><td><%= image_tag("demo.jpg") %></td></tr>
      <tr><td><%= 'Jeff Civillico' %></td></tr>
      <tr><td><%= 'COL \'05' %></td></tr>
      <tr><td><%= 'Professional Juggler' %></td></tr>
      </table>
    </div>
  <%- end %>
</div>

<br />

<div class="center hero-unit">
  <h2>But they used to be just like you</h2>
</div>

<h2>Get connected with an alum just like you, NOW</h2>

<div class="center">
  <%= link_to "Sign up", signup_path, class: "btn btn-signup btn-large" %>
</div>