<div class="row-fluid">
  <div class="span3"><%= image_tag("silhouette.jpg") %></div>
  <div class="span6">
    <h3>Discover Your Possibilities</h3>
    <h3>Connect with an alumnus who can help</h3>
    <h4>Why?</h4>
  </div>
</div>

<br />

<div class="center hero-unit">
  <h2>Post-graduation plans can be scary</h2>
</div>

<h3>Alumni do lots of different things</h3>

<br />

<div class="row-fluid">

<tr><%- 4.times do %>
  <div class="span3">
    <table>
    <tr><td><%= image_tag("demo.jpg") %></td></tr>
    <tr><td><%= 'Jeff Civillico' %></td></tr>
    <tr><td><%= 'COL \'05' %></td></tr>
    <tr><td><%= 'Professional Juggler' %></td></tr>
    </table>
  </div>
<%- end %>
</tr>
</table>