<div class="container-fluid">
  <h1>I'd like to chat with a friendly alum who...</h1>

  <table class="table">
    <tr>
      <td><h4 class="center">Has the same</h4></td>
      <td><h4 class="center">Works in an</h4></td>
    </tr>
    <tr>
      <td>
        <h4 class="center"><%= link_to "Major", meet_path(anchor: "major"), class: "btn btn-large btn-signup" %></h4>
      </td>
      <td>
        <h4 class="center"><%= link_to "Industry", meet_path(anchor: "industry"), class: "btn btn-large btn-signup" %></h4>
      </td>
    </tr>
    <tr>
      <td><h4 class="center">as me</h4></td>
      <td><h4 class="center">I'm interested in</h4></td>
    </tr>
  </table>

  <div class="gap-below">
  </div>


  <div id="major" class="row hero-unit">
    <aside class="span3">
      <h4>Major</h4>
      <%-# To Do: Create relationship between Major and User and link through IDs %>
      <%= collection_select(:user, :major, Major.all, :name, :name) %>
      <h4>Location</h4>
      <%= select_tag "major", "<option selected='selected'>(optional)</option><option>Aberdeen</option><option>Zimbabwe</option>".html_safe %>
      <h4><%= link_to "Match Me", '#', class: "btn btn-large btn-success"%></h4>
    </aside>
    <aside class="span5"><br /></aside>
    <aside class="span3">
      <%= image_tag("silhouette.jpg") %>
    </aside>
  </div>

  <div id="industry" class="row">
    <aside class="span3">
      <%= image_tag("silhouette.jpg") %>
    </aside>
    
    <aside class="span5"><br /></aside>

    <aside class="span3">
      <h4>Industry</h4>
      <%-# To Do: Create relationship between Industry and User and link through IDs %>
      <%= collection_select(:user, :industry, Industry.all, :name, :name) %>
      <h4>Location</h4>
      <%= select_tag "major", "<option selected='selected'>(optional)</option><option>Aberdeen</option><option>Zimbabwe</option>".html_safe %>
      <h4><%= link_to "Match Me", '#', class: "btn btn-large btn-success"%></h4>
    </aside>
  </div>

</div>