<p>Eventually tackle image upload</p>
<div class="row-fluid">
  <aside class="span6">
    <section>
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :uni, 'University' %>
        <%= f.text_field :uni %>

        <%= f.label :college %>
        <%= f.text_field :college %>

        <%= f.label :major %>
        <%= f.collection_select(:major, Major.all, :name, :name) %>

        <%= f.label :year, 'Graduation Year' %>
        <%= f.text_field :year %>

        <%= f.label :industry %>
        <%= f.collection_select(:industry, Industry.all, :name, :name) %>

        <%= f.label :location %>
        <%= f.text_field :location %>
    </section>
  </aside>
  <aside class="span6">
    <section>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>

        <%= f.label :last_name %>
        <%= f.text_field :last_name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :phone %>
        <%= f.text_field :phone %>

        <%= f.label :linkedin %>
        <%= f.text_field :linkedin %>
    </section>
  </aside>
</div>
<div class="row-fluid">
  <aside class="span6 offset3">
    <section> 
        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
    </section>
  </aside>
</div>

<p class="center">
  <%= f.submit "Save", class: "center btn btn-signup btn-large" %>
</p>
<% end %>