<%= link_to "How does my profile look to others?", current_user, class: "pull-right" %>

<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages' %>

<%= image_tag("demo.jpg") %>
<p>Eventually tackle image upload</p>

<div class="row-fluid">
  <aside class="span6">
    <section>
      <%= f.label :uni, 'University' %>
      <%= f.text_field :uni %>

      <%= f.label :college %>
      <%= f.text_field :college %>

      <%= f.label :major %>
      <%= f.text_field :major %>

      <%= f.label :year, 'Graduation Year' %>
      <%= f.text_field :year %>

      <%= f.label :industry %>
      <%= f.text_field :industry %>

      <%= f.label :location %>
      <%= f.text_field :location %>
    </section>
  </aside>
  <aside class="span6">
    <section>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :email %>
      <%= f.text_field :email %>



      <%= f.label :phone %>
      <%= f.text_field :phone %>

      <%= f.label :linkedin %>
      <%= f.text_field :linkedin %>
    </section>
  </aside>
</div>
     
      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save", class: "btn btn-large" %>

    <% end %>
  </div>
</div>