<h1>Other people who went to <%= current_user.university %></h1>

<% @users.each do |user| %>
  <h3><%= user.name %></h3>
  <p><%= user.location %></p>
  <p>Major: <%= user.major %></p>
  <p>Industry: <%= user.industry %></p>
  <p>University: <%= user.university %> (test for debugging)</p>
  <%= link_to "Contact", "#", class: "btn btn-signup btn-small" %>
  <hr />
<% end %>