<!DOCTYPE html>
<html>
<head>
  <title>Almawire</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top navbar-inverse center">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "Almawire", root_path, id: "splash-logo" %>
    </div>
  </div>
</header>

<div class="container-fluid">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
</div>

<%= render 'layouts/splash_footer' %>

</body>
</html>
